@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

//mudar paras as cores da pagina
:root {
  --white: #FFFFFF;

  --green-200: #ABCC99;

  --dark-green-600: #43592D;
}

html, body{
  height: 100%;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, textarea ,select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

input{
  margin-top: 4px;
  width: 200px;
}

a {
  color: inherit;
  text-decoration: none;
}
